.main {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  place-content: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;

  & form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
  }
  & label {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  & span {
    grid-column: 1 / 3;
    font-size: 0.8rem;
  }
}
