.main,
.main form,
.main form label {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 10px;
}

.main {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  place-content: center;
}
